body {
  margin: 0;
  padding: 0;
  font-family: "Courier New",Courier,monospace;
  background: linear-gradient(89deg,rgb(70, 119, 128) 0%, rgb(240, 197, 55) 100%);
  display: block;

}
button {
  cursor: pointer;
}

